article {
background-color: #D6D9BC;
margin: 10px;
overflow: auto;
padding: 10px;
}

aside {
float: right;
margin: 0;
width: 25%;
}

body {
/*background-color: #44344A;*/
border: 0px;
margin: 0px;
}

footer {
background-color: #63454E;
}

header {
background-color: #44344A;
}

li {
border-bottom: 3px solid #FFFFFC;
margin: 20px;
}

main {
padding: 10px;
width: 50%;
}

nav {
float: left;
height: inherit;
text-align: center;
width: 25%;
}

p {
margin: 15px;
}

section {
background-color: #495A3C;
height: 60%;
margin: 0px;
}

ul {
color: #63454E;
text-align: left;
}

article, article footer, article header{
border-radius: 20px;
}

body > footer {
height: 15%;
}

body > header {
height: 25%;
}

body > footer, body > header {
margin: -15px 0px 0px 0px;
}

header, footer {
color: #DBE0AE;
height: 10%;
margin: 10px;
}

h1, h2, h3, h4, figcaption{
text-align: center;
}

figure img {
vertical-align: top;
}

figure, nav {
color: #FFFFFC;
}