article {
background-color: #D6D9BC;
margin: 20px auto
padding: 20px;
}

aside {
float: right;
margin: 0;
width: 320px;
}

body {
/*background-color: #44344A;*/
margin: 0px auto;
width: 1920px;
}

.dark_text {
color: #DBE0AE;
}

footer {
background-color: #63454E;
}

header {
background-color: #44344A;
}

.light_text {
color: #FFFFFC;
}

main {
left: 300px;
padding: 10px;
position: relative;
/*right: 300px;*/
width:1300px;
}

nav {
float: left;
position: relative;
text-align: center;
width: 300px;
}

section {
background-color: #495A3C;
margin: 0 auto;
}

ul {
color: #63454E;
text-align: left;
}

header, figure, footer {
text-align: center;
}